.wp-pagenavi {
	clear: both;
	display: block;
	margin-right: 0px;
	margin-left: 80px;
	padding-bottom: 5px;
	position: relative;
	bottom: 15px;
	text-align: left;
}

.wp-pagenavi a, .wp-pagenavi span {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	background: #ffffff;
	-webkit-border-radius: 600px;
	border-radius: 600px;
	padding: 8px 13px;
	margin: 2px 3px;
	color: #606060;
	line-height: 55px;
	-webkit-box-shadow: 1px 2px 0 0 #d0d0d0;
	box-shadow: 1px 2px 0 0 #d0d0d0;
}

.wp-pagenavi a:hover {
	background: #4e3762;
	color: #ffffff;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.wp-pagenavi span.current {
	background: #4e3762;
	color: #ffffff;
}

.wp-pagenavi a.nextpostslink, .wp-pagenavi a.previouspostslink {
	background: transparent;
	text-transform: uppercase;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 0 0 #d0d0d0;
	box-shadow: 0px 0px 0 0 #d0d0d0;
}

.wp-pagenavi a.nextpostslink:hover, .wp-pagenavi a.previouspostslink:hover {
	color: #5e3781;
}