html{
	height : 100%;
	width:100%;
	padding : 0;
	margin : 0;
	position: absolute;
	overflow: hidden;
}
body{
	height : 100%;
	width:100%;
	padding : 0;
	margin : 0;
	position : absolute;
	background-color: #008080;
	z-index:3;
	overflow: hidden;
}

.close{
	background-color: #dedede;
	padding : 2px;
	display:inline;
	float:right;
	cursor: pointer;

}


#cursor img{
	width : 100%;
	height : 100%;
}


#cursor{
	width: 30px;
	height: 30px;
	z-index:9;
	position:absolute;
}
.dossier{
	z-index: 15;
	margin : 2px;
	padding : 2px;
	display:inline-block;
	overflow: hidden;
	z-index: 2;
	text-align: center;
}


.dossierClicked{
	outline: rgba(200, 200, 200, 0.4) dashed 1px;
	background-color: rgba(160, 160, 200, 0.498039);
}

.dossier img{
	width:75px;
}

.shortcut{
	width:auto!important;
}
.icone{

	display: inline-block;
}
.fenetre{
	margin: auto;
	position: absolute!important;
	top : 50px;
	display: inline-block;
	background:white;
	width :auto;
	min-width: 300px!important;
	height:auto;
	min-height: 250px;
	z-index : 1;
	border : solid 2px rgb(200,200,200);
	box-shadow:  10px #888;
}



.barre{
	outline : solid 1px rgb(230,230,230);	
	box-shadow:  25px 0 0 0 black;
	height : 30px;
	width : 100%;
	position: absolute;
	bottom : 0;
	background-color: rgb(200,200,200);
}

.header{
	background-color : rgb(140,140,140);
	width:auto;
	height:25px;
}

.selectedFenetre{
	z-index : 2;
}

.selectedHeader{
	background-color : rgb(120,120,200);
}

#menu-demarrer{
	padding : 5px;
	display: inline-block;
	position:relative;
    width: 100px;
    height: 18px;
    background-color: #C0C0C0;
    border-top: 1px solid white;
    border-left: 1px solid white;
	border-bottom: 2px ridge #808080;
    border-right: 2px ridge #808080;
    cursor: default;
}

.menu-appuye{
	border-top: 2px groove #808080 !important;
    border-left: 2px groove #808080 !important;
    border-bottom: 2px groove #FFFFFF !important;
    border-right: 2px groove #FFFFFF !important;
}

#menu-demarrer img,
#menu-demarrer span{
	display:inline;
	float: left;
	padding-left: 5px;
}

#info{
	width:auto;
	position:absolute;
	float: right;
	margin-left: 90%;
}
#info>div{
	clear: both;
	margin-right: 2%;
	margin-top: 5%;
	white-space: nowrap;
}