html{
	height : 100%;
	width:100%;
	padding : 0;
	margin : 0;
	position: absolute;
	overflow: hidden;
}
body{
	height : 100%;
	width:100%;
	padding : 0;
	margin : 0;
	position : absolute;
	background-color: #008080;
	background-image: url('../images/bg-windows-xp.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	z-index:3;
	overflow: hidden;
}

.close{
	text-indent: -9999px;
	padding : 2px;
	display:inline;
	float:right;
	cursor: pointer;
	background: url('../images/close.png') 3px 4px no-repeat;
	padding: 15px;
}


#cursor img{
	width : 100%;
	height : 100%;
}


#cursor{
	width: 30px;
	height: 30px;
	z-index:9;
	position:absolute;
}
.dossier{
	z-index: 15;
	margin : 2px;
	padding : 2px;
	display:inline-block;
	overflow: hidden;
	z-index: 2;
	text-align: center;
}


.dossierClicked{
	outline: rgba(200, 200, 200, 0.4) dashed 1px;
	background-color: rgba(160, 160, 200, 0.498039);
}

.dossier img{
	width:75px;
}

.shortcut{
	width:auto!important;
}
.icone{

	display: inline-block;
}
.fenetre{
	margin: auto;
	position: absolute!important;
	top : 50px;
	display: inline-block;
	background: #e8e9d9;
	width:100%;
	min-width: 300px!important;
	height:auto;
	min-height: 250px;
	z-index : 1;
	border-right: solid 4px #0441d8;
	border-left: solid 4px #0441d8;
	border-bottom: solid 4px #0441d8;
	border-top: solid 2px #0441d8;
	box-shadow:  10px #888;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	padding-bottom: 15px;
	max-width: 550px;
}

.content {
	padding: 30px 20px;
	font-family: 'Tahoma', sans-serif;
	font-size: 11px;
	letter-spacing: -0.02em;
	line-height: 16px;
}

.content div {
	text-align: center;
	margin: auto;
}

p {
	margin: auto;
}

.fenetregrise {
	border-right: solid 4px #808080;
	border-left: solid 4px #808080;
	border-bottom: solid 4px #808080;
	border-top: solid 2px #808080;
}

button#jouer {
	background: url('../images/bouton-jouer.jpg') repeat-x;
	text-indent: -9999px;
	border: 0px;
	width: 78px;
	height: 27px;
	margin: 15px 0px;
	cursor: pointer;
}

button#rejouer {
	background: url('../images/bouton-rejouer.jpg') repeat-x;
	text-indent: -9999px;
	border: 0px;
	width: 78px;
	height: 27px;
	margin: 15px 0px;
	cursor: pointer;
}

.barre{
	box-shadow:  25px 0 0 0 black;
	height : 30px;
	width : 100%;
	position: absolute;
	bottom : 0;
	background-image: url('../images/bg-barre.jpg');
	margin: auto;
}

.header{
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-image: url('../images/bg-top-gris.jpg');
	height: 30px;
	font-family: 'Trebuchet ms', sans-serif;
}

.selectedFenetre{
	z-index : 2;
	border-right: solid 4px #0441d8;
	border-left: solid 4px #0441d8;
	border-bottom: solid 4px #0441d8;
	border-top: solid 2px #0441d8;

}

.selectedHeader{
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-image: url('../images/bg-top.jpg');
	height: 30px;
	font-family: 'Trebuchet ms', sans-serif;
}

.selectedHeader b, .header b {
	position: relative;
	top: 5px;
	font-weight: 600;
	font-size: 15px;
}

#menu-demarrer{
	padding : 5px;
	display: inline-block;
	position:relative;
    width: 130px;
    height: 30px;
    background-image: url('../images/demarrer.jpg');
}

#infos {
	padding : 5px;
	display: inline-block;
	position:relative;
    width: 145px;
    height: 30px;
    background-image: url('../images/infos-barre.jpg');
    float: right;
}

.menu-appuye{
	border-top: 2px groove #808080 !important;
    border-left: 2px groove #808080 !important;
    border-bottom: 2px groove #FFFFFF !important;
    border-right: 2px groove #FFFFFF !important;
}

#menu-demarrer img,
#menu-demarrer span{
	display:inline;
	float: left;
	padding-left: 5px;
}

#info{
	width:auto;
	position:relative;
	float: right;
    font-family: sans-serif;
    color: white;
    text-align: right;
    font-weight: bold;
    right:  1%;
    top: 1%;
}

#info>div{
	clear: both;
	margin-right: 2%;
	margin-top: 5%;
	white-space: nowrap;
}