/**
Description: Page temporaire du projet Enigma'TIC
Author: Axelle S.
Author URI: http://www.axellesimon.fr
*/

/*-- RESET ALL --*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin:0;
		padding:0;
		border:0;
		outline:0;
		font-weight:inherit;
		font-style:inherit;
		font-size:100%;
		font-family:inherit;
		vertical-align:baseline;
	}

	body, html {
		margin: auto;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	a {
		cursor: pointer;
		text-decoration: none;
		color: #cdc6cd;
	}

	a:hover {
		color: white;
	}

	b {
		font-weight: 500;
	}

	.mouse-bg {
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		position: fixed;
		z-index: -1;
	}

	#background {
		background-image: url('images/bg.jpg');
	}

	section {
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 390px;
		vertical-align: top;
	}

	#title {
		width: 400px;
		height: 285px;
		text-align: center;
		vertical-align: middle;
		display: block;
		margin: auto;
	}

	#links {
		display: block;
		margin: auto;
		width: auto;
		padding: 40px 0px;
	}

	#links a {
		background-color: rgba(31, 13, 31, 0.9);
		color: #b4a2b4;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		width: auto;
		-webkit-border-radius: 20px;
		border-radius: 20px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 15px 35px;
		text-decoration: none;
		margin: 8px;
		letter-spacing: 0.02em;
	}

	#links a:hover {
		background-color: rgba(148, 148, 148, 0.2);
		color: #dfdfdf;
		-webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
	}

	#more {
		display: none;
		color: #f1f1f1;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		margin: auto;
		width: 45%;
		height: 485px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		vertical-align: top;
	}

	#more h1 {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 30px;
		letter-spacing: 0.020em;
	}

	#more p {
		text-align: justify;
		line-height: 18px;
		font-size: 15px;
	}

	#more p.recevoir-mail {
		font-size: 12px;
		line-height: 16px;
		padding: 20px 0px 0px;
		border-top: 1px dashed #4a4048;
		margin: 5px;
	}

	#more ul {
		text-align: left;
		margin: 5px 15px;
	}

	#more ul li {
		list-style-type: square;
		line-height: 20px;
		font-size: 14px;
		margin: 0px 0px 15px;
		text-align: justify;
	}

	#more .close, #mentions-legales .close {
		text-align: right;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.02em;
		margin-bottom: 50px;
	}

	#more .close span, #mentions-legales .close span {
		font-weight: 500;
		font-size: 16px;
		padding-right: 10px;
	}

	#more .close:hover, #mentions-legales .close:hover {
		cursor: pointer;
		color: #a2a2a2;
	}

	.button {
	  height: 45px;
	  border: none;
	  text-transform: uppercase;
	}

	#email {
	  width: 74%;
	  background-color: rgba(40, 31, 41, 0.5);
	  font-family: inherit;
	  color: #737373;
	  letter-spacing: 1px;
	  text-indent: 5%;
	  padding: 1px;
	  border-radius: 5px 0 0 5px;
	  
	}

	#submit {
	  width: 25%;
	  height: 46px;
	  background: #2d1232;
	  font-family: inherit;
	  font-weight: bold;
	  color: inherit;
	  letter-spacing: 1px;
	  border-radius: 0 5px 5px 0;
	  cursor: pointer;
	  transition: background .3s ease-in-out;
	}	  

	#submit:hover {
	  background: #341541;
	}	  

	input:focus {
	  outline: none;
	  padding: 0px 0px;
	}

	#mentions-legales {
		width: 75%;
		text-align: justify;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		margin: 50px auto;
		display: none;
		font-size: 14px;
		line-height: 18px;
	}

	#mentions-legales h2 {
		text-transform: uppercase;
		font-size: 25px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 30px;
		letter-spacing: 0.020em;
	}

	#mentions-legales h3 {
		font-size: 18px;
		font-weight: 400;
		text-align: left;
		margin: 20px 0px;
		letter-spacing: 0.020em;
		padding: 15px 0px;
		border-bottom: 1px dashed #5a5359;
	}

	footer {
		position: absolute;
		bottom: 30px;
		margin: auto;
		text-align: center;
		width: 100%;
		color: #6b6b6b;
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 300;
	}

	#footer-resp {
		margin: 10% auto 2%;
		text-align: center;
		width: 100%;
		color: #6b6b6b;
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 300;
	}

	footer a, #footer-resp a {
		font-weight: 400;
		opacity: 0.8;
		color: #b0b0b0;
		text-decoration: none;
	}

	footer a:first-child, #footer-resp a:first-child {
		padding: 0px 35px;
	}

	footer a:hover, #footer-resp a:hover {
		color: #ffffff;
		opacity: 0.9;
		-webkit-transition: all 0.8s ease-out;
		-moz-transition: all 0.8s ease-out;
		-ms-transition: all 0.8s ease-out;
		-o-transition: all 0.8s ease-out;
		transition: all 0.8s ease-out;
	}

/* RESPONSIVE DESIGN */

@media only screen and (max-width: 450px)  {
	#title {
		width: 280px;
		height: 185px;
		text-align: center;
		vertical-align: middle;
		display: block;
		margin: auto;
	}

	#links { padding: 20px 0px; }
	#links a { display: block; width: 55%; margin: 10px auto; background-color: rgba(40, 29, 40, 0.7); color: #dfdfdf; }
	footer { bottom: 10px; }
	footer a { display: block; margin: 10px 0px;}
}

@media only screen and (min-width: 1230px) and (max-width: 1300px)  {
	#more { width: 50%; }
}

@media only screen and (min-width: 1120px) and (max-width: 1230px)  {
	#more { width: 55%; }
}

@media only screen and (min-width: 950px) and (max-width: 1120px)  {
	#more { width: 65%; }
}

@media only screen and (min-width: 825px) and (max-width: 950px)  {
	#more { width: 75%; }
}

@media only screen and (min-width: 740px) and (max-width: 825px)  {
	#more { width: 85%; }
}

@media only screen and (min-width: 645px) and (max-width: 740px)  {
	#more { width: 85%; }
	#more h1 { font-size: 16px; text-align: left; }
}

@media only screen and (min-width: 300px) and (max-width: 645px)  {
	#more { width: 85%; height: 85%; }
	#more h1 { font-size: 16px; text-align: left; }
	#footer-resp { margin: 10% auto 10%; }
	#footer-resp a { display: block; margin: 10px 0px;}
	#email { width: 60%; }
	#submit { width: 35%; }
}
