	/****************************************************
	*************** CSS SITE GLOBAL ** ******************
	*****************************************************/


	/*-- RESET ALL --*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin:0;
		padding:0;
		border:0;
		outline:0;
		font-weight:inherit;
		font-style:inherit;
		font-size:100%;
		font-family:inherit;
		vertical-align:baseline;
	}

	html {
		height: 100%;
	}

	body { 
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
	    background-size: cover;
	    overflow: hidden;
	    background-image: url('../images/bg-home.jpg');
	    background-repeat: no-repeat;
	    background-position: top center;
	    background-attachment: fixed;
	    font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 300;
		}

	body.temp-page {
		overflow: auto;
	}

	video { 
	    position: fixed;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    transform: translateX(-50%) translateY(-50%);
	  	background-size: cover;
	  	transition: 1s opacity;
	  	opacity: 0.3;
	  	filter: grayscale(100%);
	    -webkit-filter: grayscale(100%);
	    -moz-filter: grayscale(100%);
	    -ms-filter: grayscale(100%);
	    -o-filter: grayscale(100%);
	}

	strong {
		color: #4c3164;
		font-weight: bold;
		}

	b {
		font-weight: 400;
	}
		
	em {
		font-style: italic;
		color: #867595;
		}

	a {
		text-decoration: none;
		color: #959595;
	}

	a:hover {
		color: #b84de4;
	}

	h2 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 500;
		color: #551f56;
	}

	h3 {
		font-size: 18px;
	    font-weight: 400;
	    text-align: left;
	    margin: 20px 0px;
	    letter-spacing: 0.020em;
	    padding: 15px 0px;
	    border-bottom: 1px dashed #5a5359;
	    line-height: 22px;
	    color: white;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	/* MENU */ 

	.menu {
		font: normal normal normal 22px/1 'FontAwesome';
		color: #ffffff;
		opacity: 0.5;
		text-rendering: auto;
    	-webkit-font-smoothing: antialiased;
    	position: absolute;
    	top: 10%;
    	left: 5%;
    	word-spacing: 15px;
    	z-index: 6;
	}

	.menu a {
		color: white;
	}

	.menu a:hover, #home a:hover, #options i:hover {
		opacity: 0.7;
		color: white;
		cursor: pointer;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		transition: all 300ms ease-out;
	}

	.fa-arrows-alt {
		background: url('../images/fullscreen.png') top left no-repeat;
		text-indent: -9999px;
		z-index: 11;
		position: relative;
		padding: 2px 15px;
	}

	.fa-bars {
		background: url('../images/menu.png') top left no-repeat;
		text-indent: -9999px;
		z-index: 11;
		position: relative;
		padding: 3px 15px;
	}

	.fa-user {
		background: url('../images/user.png') top left no-repeat;
		text-indent: -9999px;
		z-index: 11;
		position: relative;
		padding: 0px 11px;
		display: inline-block;
	}

	#options {
		position: absolute;
    	top: 10%;
    	right: 3%;
    	font: normal normal normal 22px/1 'FontAwesome';
		color: #ffffff;
		opacity: 0.5;
		cursor: pointer;
		z-index: 6;
		word-spacing: 12px;
		width: 200px;
	}

	#options .fa-volume-off {
		background: url('../images/sound-off.png') top left no-repeat;
		text-indent: -9999px;
		z-index: 11;
		position: relative;
		display: none;
		padding: 0px 11px;
	}

	#options .fa-volume-up {
		background: url('../images/sound-on.png') top left no-repeat;
		text-indent: -9999px;
		z-index: 11;
		position: relative;
		padding: 0px 11px;
	}

	#options .fa-volume-off:before {
		content: '';
	}

	.clignote {
		animation: boutonAideClignote 1.5s infinite linear;
	}

	@keyframes boutonAideClignote{ 0% { color: #ffffff; } 50% { color: #b140c4;} 100% { color: #ffffff; }} 
	@-webkit-keyframes boutonAideClignote{ 0% { color: #ffffff; } 50% { color: #b140c4;} 100% { color: #ffffff; }} 
	@-moz-keyframes boutonAideClignote{ 0% { color: #ffffff; } 50% { color: #b140c4;} 100% { color: #ffffff; }} 
	@-o-keyframes boutonAideClignote{ 0% { color: #ffffff; } 50% { color: #b140c4;} 100% { color: #ffffff; }}  
	/* MENU FIXE DU SITE */

	#darker {
		background: #131313;
		opacity: 0.8;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 7;
		display: none;
	}

	#menu-coulissant {
		position: absolute;
		top: 0px;
		left: -30%;
		width: 30%;
		background: white;
		height: 100%;
		z-index: 8;
	}

	#menu-coulissant p {
		text-transform: uppercase;
	    color: #6f6f6f;
	    font-size: 17px;
	    font-weight: 300;
	    font-family: 'Roboto', sans-serif;
	    letter-spacing: 0.10em;
	    position: relative;
	    top: 120px;
	    display: block;
	    width: 15%;
	    margin: auto;
	    text-align: center;
	    z-index: 3;
	    background: white;
	    padding: 0px 2px 0px 6px;
	}

	#menu-coulissant img {
		width: 65%;
		position: relative;
		margin-top: 50px;
		padding-bottom: 22px;
    	border-bottom: 1px solid #d9d9d9;
    	max-width: 310px;
	}

	#menu-coulissant ul {
		margin: 40px auto 0px;
		width: 65%;
	}

	#menu-coulissant ul li {
		list-style-type: none;
		text-align: left;
		text-transform: uppercase;
		font-size: 14px;
	    font-weight: 400;
	    font-family: 'Roboto', sans-serif;
	    color: #6f6f6f;
	    letter-spacing: 0.05em;
	    border-bottom: 1px solid #d9d9d9;
	    padding: 20px 0px 15px;
	}

	#menu-coulissant ul li a {
		color: #6f6f6f;
		text-decoration: none;
		cursor: pointer;
	}

	#menu-coulissant ul li a:hover {
		color: #8522b3;
		text-decoration: none;
	}

	#menu-coulissant ul li:last-child {
		border: 0px;
		text-align: center;
		font-size: 25px;
		letter-spacing: 20px;
		padding: 35px 0px 25px;
	}

	#copyright {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		top: 93%;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-size: 14px;
	}

	/* PAGE DE CHARGEMENT */

	#load {
		display: block;
		width: 100%;
		overflow: hidden;
		height: 100%;
		margin: auto;
		text-align: center;
		position: relative;
		z-index: 12;
		background-size: cover;
	    background-image: url('../images/bg-home.jpg');
	    background-repeat: no-repeat;
	    background-position: top center;
	}

	#load img.background {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 120%;
		-webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -ms-filter: blur(25px);
        -o-filter: blur(25px);
        filter: blur(25px);
        z-index: 0;
	}

	#load .chargement {
		position: absolute;
		z-index: 1;
	    margin: auto;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 200px;
	    height: 160px;
	}

	#load .chargement p {
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		letter-spacing: 0.5em;
		font-weight: 300;
		text-transform: uppercase;
		text-align: center;
		color: white;
		display: block;
		margin: auto;
		margin-top: 35px;
		position: relative;
		left: 5px;
	}

	#load .chargement img {
		animation: rotation 4s infinite ease-in-out;
		display: block;
		margin: auto;
		width: 100px;
    	height: 100px;
	}

	@keyframes rotation{ 0% {transform:rotate(0deg);} 50% {transform:rotate(180deg);} 100% {transform:rotate(360deg);} } 
	@-webkit-keyframes rotation{ 0% {transform:rotate(0deg);} 50% {transform:rotate(180deg);} 100% {transform:rotate(360deg);} }
	@-moz-keyframes rotation{ 0% {transform:rotate(0deg);} 50% {transform:rotate(180deg);} 100% {transform:rotate(360deg);} } 
	@-o-keyframes rotation{ 0% {transform:rotate(0deg);} 50% {transform:rotate(180deg);} 100% {transform:rotate(360deg);} } 

	/* MESSAGE D'AIDE */

	#message-aide {
		position: absolute;
		z-index: 1;
	    margin: auto;
	    top: -200%;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 50%;
	    height: 100%;
	    max-height: 330px;
	    z-index: 10;
	    margin: auto;
	    -webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	#message-aide .container {
		-webkit-box-shadow: 0 0 5px 0 #3D3D3D;
		box-shadow: 0 0 5px 0 #3D3D3D;
		background: white;
	    padding: 25px 45px;
	    position: relative;
	    height: auto;
	    margin: auto;
	}

	#message-aide .close {
		background: url('../images/menu-cross.png') center center no-repeat;
		cursor: pointer;
		padding: 20px;
		width: 40px;
		height: 45px;
		position: absolute;
		left: 10px;
		top: 10px;
		z-index: 12;
	}

	#message-aide h2 {
		position: relative;
		top: 18px;
	}

	#message-aide p {
		text-align: justify;
		position: relative;
		top: 40px;
		padding: 15px 0px 50px;
		line-height: 20px;
		font-family: sans-serif;
	}

	/* BOUTON POUR PASSER LES CINEMATIQUES */

	#passer-cinematique {
		position: absolute;
	    bottom: 15%;
	    right: 5%;
	    background-color: rgba(0, 0, 0, 0.5);
	    border: 1px solid #303030;
	    color: white;
	    text-align: center;
	    text-transform: uppercase;
	    font-family: 'Roboto', sans-serif;
	    font-size: 11px;
	    font-weight: 400;
	    padding: 15px 20px;
	    letter-spacing: 0.05em;
	    display: none;
	    z-index: 4;
	    cursor: pointer;
	}

	#passer-cinematique:hover {
		background-color: rgba(0, 0, 0, 0.8);
		-webkit-transition: all 250ms linear;
		-moz-transition: all 250ms linear;
		-ms-transition: all 250ms linear;
		-o-transition: all 250ms linear;
		transition: all 250ms linear;
	}

	/* DIALOGUE DANS LE JEU */ 

	.dialogue {
		height: 100px;
		position: absolute;
		margin: auto;
	    top: 50%;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: auto;
	    z-index: 5;
	}

	.dialogue img {
		width: auto;
		height: auto;
		display: inline-block;
	}

	.dialogue strong {
		font-weight: 600;
		color: #41214c;
		text-transform: uppercase;
		font-size: 15px;
	}

	.dialogue div {
		display: inline-block;
		background: white;
		text-align: left;
		padding: 20px 30px 20px 25px;
		font-family: 'Open Sans', sans-serif;
	    font-weight: 400;
	    font-size: 13px;
	    color: #222222;
	    border-radius: 10px;
	    border-bottom: 1px solid #a9a9a9;
	    border-right: 1px solid #a9a9a9;
	    vertical-align: top;
	    position: relative;
	    margin-left: 20px;
	    width: 400px;
	    line-height: 18px;
	}

	.dialogue div:after {
		content: url('../images/bulle.png');
		position: absolute;
		top: -10px;
    	left: -15px;
	}

	.dialogue p {
		display: block;
		margin: 5px 5px 0px;
	}

	.dialogue .next {
		background: #1e1e1e;
		border: 1px solid #636363;
		text-align: center;
		color: #f7f7f7;
		padding: 8px 10px;
   	 	font-size: 10px;
   	  	position: absolute;
    	top: 30px;
    	right: -15px;
    	cursor: pointer;
	}

	.dialogue .next .fa {
		position: relative;
		animation: bougerFleche 1s infinite;
	}

	@keyframes bougerFleche{ 0% {left: 0px; } 50% {left: 2px;} 100% {left: 0px;} } 
	@-webkit-keyframes bougerFleche{ 0% {left: 0px; } 50% {left: 2px;} 100% {left: 0px;} }  
	@-moz-keyframes bougerFleche{ 0% {left: 0px; } 50% {left: 2px;} 100% {left: 0px;} } 
	@-o-keyframes bougerFleche{ 0% {left: 0px; } 50% {left: 2px;} 100% {left: 0px;} } 

	#top-bar {
		width: 100%;
		position: absolute;
		top: -10%;
		left: 0px;
		background: black;
		height: 9%;
		animation: afficherBarreHaut 3s forwards;
	}
	
	#bottom-bar {
		width: 100%;
		position: absolute;
		bottom: -10%;
		left: 0px;
		background: black;
		height: 9%;
		z-index: 5;
		animation: afficherBarreBas 3s forwards;
	}

	@keyframes afficherBarreHaut{ 0% {top: -10%;} 100% {top: 0px;} } 
	@-webkit-keyframes afficherBarreHaut{ 0% {top: -10%;} 100% {top: 0px;} } 
	@-moz-keyframes afficherBarreHaut{ 0% {top: -10%;} 100% {top: 0px;} } 
	@-o-keyframes afficherBarreHaut{ 0% {top: -10%;} 100% {top: 0px;} } 

	@keyframes afficherBarreBas{ 0% {bottom: -10%;} 100% {bottom: 0px;} } 
	@-webkit-keyframes afficherBarreBas{ 0% {bottom: -10%;} 100% {bottom: 0px;} } 
	@-moz-keyframes afficherBarreBas{ 0% {bottom: -10%;} 100% {bottom: 0px;} } 
	@-o-keyframes afficherBarreBas{ 0% {bottom: -10%;} 100% {bottom: 0px;} } 

	/* SECTION */

	.page {
		width: 75%;
		margin: 100px auto 0px;
	}

	.page h2 {
		color: #f4e5f2;
		font-size: 25px;
	}

	.page p {
		font-size: 14px;
		line-height: 22px;
		margin: 0px 0px 20px 0px;
	}

	.page footer {
		position: relative;
		margin: auto;
		bottom: 0;
		padding: 25px 0px;
		text-align: center;
		width: 100%;
		color: #6b6b6b;
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 300;
	}

	/* FOOTER */ 

	footer {
		position: absolute;
		bottom: 30px;
		margin: auto;
		text-align: center;
		width: 100%;
		color: #6b6b6b;
		font-family: 'Roboto', sans-serif;
		font-size: 13px;
		font-weight: 300;
		z-index: 10;
	}

	footer a, #footer-resp a {
		font-weight: 400;
		opacity: 0.8;
		color: #b0b0b0;
		text-decoration: none;
		padding: 0px 35px 0px 0px;
	}

	footer a:first-child {
		padding: 0px 35px;
	}

	footer a:hover, #footer-resp a:hover {
		color: #ffffff;
		opacity: 0.9;
		-webkit-transition: all 0.8s ease-out;
		-moz-transition: all 0.8s ease-out;
		-ms-transition: all 0.8s ease-out;
		-o-transition: all 0.8s ease-out;
		transition: all 0.8s ease-out;
	}

	footer a:last-child {
		padding: 0px 35px;
	}

	/* RESPONSIVE */

	@media only screen and (min-width: 1700px)   {
	 	#menu-coulissant p { top: 125px; }
		#menu-coulissant img { max-width: 350px; }
	}

	@media only screen and (min-width: 800px) and (max-width: 1200px)  {
	 	#message-aide { width: 70%; }
	 	#menu-coulissant { width: 50%; left: -50%; }
	}

	@media only screen and (min-width: 200px) and (max-width: 800px)  {
	 	#message-aide { width: 90%; }
	}

	@media only screen and (min-width: 200px) and (max-width: 800px)  {
	 	#message-aide { width: 90%; }
	}

	@media only screen and (min-width: 200px) and (max-width: 785px)  {
		.left { float: none; display: block; }
		.right { float: none; display: block; }
	}

	@media only screen and (min-width: 200px) and (max-width: 470px)  {
		#message-aide { top: -300%; }
	}

	@media only screen and (min-width: 400px) and (max-width: 800px)  {
	 	#menu-coulissant { width: 80%; left: -80%; }
	}

	@media only screen and (min-width: 200px) and (max-width: 400px)  {
	 	#menu-coulissant { width: 100%; left: -100%; }
	 	#menu-coulissant p { top: 110px; }
		#menu-coulissant img { max-width: 350px; width: 70%; }
	}
