

	/****************************************************
	*************** CSS PAGE D'ACCUEIL ******************
	*****************************************************/

	#home {
		overflow: hidden;
	}

	#home section {
		position: absolute;
		z-index: 2;
	    margin: auto;
	    top: 8%;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 835px;
	    height: 380px;
	    display: block;
	}

	section p {
		font-size: 12px;
		font-weight: 300;
		font-family: 'Roboto', sans-serif;
		color: #dadada;
		line-height: 18px;
		margin: 0px 10px 15px 5px;
		text-align: left;
	}

	p.error, #inscription p.error {
		width: 90%;
	    margin: 20px auto 5px;
	    font-size: 14px;
	    font-weight: 500;
	    color: #F31C1C;
	    text-align: center;
	    font-style: italic;
	}

	p.valid, #inscription p.valid {
		width: 90%;
	    margin: 20px auto 5px;
	    font-size: 14px;
	    font-weight: 500;
	    color: #02AD11;
	    text-align: center;
	    font-style: italic;
	}

/* BLOC D'INFOS SUR LE PROJET */

	#infos {
		text-align: left;
		width: 47%;
		display: inline-block;
	}

	#infos h2 {
		font-family: 'rawengulkregular';
		font-size: 15px;
		text-transform: uppercase;
		color: #dadada;
		margin: 25px 0px 25px 5px;
		line-height: 22px;
		letter-spacing: 0.01em;
	}

	#infos a {
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 15px;
		color: #807380;
		padding: 15px 50px;
		border: 2px solid #675866;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-top: 25px;
		display: block;
		width: 30%;
		text-align: center;
		opacity: 0.9;
		cursor: pointer;
		letter-spacing: 0.03em;
	}

	#infos a:hover {
		border: 2px solid #675866;
		background-color: rgba(88, 75, 87, 0.3);
	}

	#infos img {
		width: 100%;
	}

/* BLOC DE CONNEXION UTILISATEUR */

	#connexion {
		border-left: 1px solid #787178;
		height: 260px;
		display: inline-block;
		width: 41%;
		padding-left: 40px;
		margin-left: 40px;
		vertical-align: top;
		position: relative;
    	top: 50px;
	}

	#connexion input {
		border-radius: 5px;
	    width: 77%;
	    border: 1px solid #271926;
	    padding: 10px 15px 10px 45px;
	    margin-bottom: 15px;
	}

	#connexion #login, #form-inscription .mail {
		background: url('../images/input-mail.jpg') center left no-repeat #ffffff;
	}

	#connexion #pseudo, #form-inscription .pseudo {
		background: url('../images/input-user.jpg') center left no-repeat #ffffff;
	}

	#connexion .password, #inscription .password {
		background: url('../images/input-mdp.jpg') center left no-repeat #ffffff;
	}

	#connexion input:focus, #form-inscription input:focus, #reinitialiser input:focus  {
		border: 1px solid #ad1a9d;
		outline-style: none;
		outline: none;
	}

	#connexion .bouton {
		text-transform: uppercase;
	    font-family: 'Roboto', sans-serif;
	    font-weight: 500;
	    font-size: 12px;
	    color: #807380;
	    padding: 12px 30px;
	    border: 2px solid #675866;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    margin-top: 55px;
	    display: block;
	    width: 55%;
	    text-align: center;
	    opacity: 0.9;
		cursor: pointer;
		letter-spacing: 0.03em;
		background: transparent;
	}

	#connexion .bouton:hover, #form-inscription .bouton:hover, #reinitialiser .bouton:hover {
		color: white;
		border: 2px solid #675866;
		background-color: rgba(88, 75, 87, 0.3);
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		transition: all 300ms ease-out;
	}

	#form-inscription .bouton:focus, #connexion .bouton:focus, #reinitialiser .bouton:focus  {
		outline-style: none;
		outline: none;
	}

/* FORMULAIRE D'INSCRIPTION */

	#home section.inscription-temp, #home section.reinitialiser {
		position: absolute;
		z-index: 2;
	    margin: auto;
	    top: 15%;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: 835px;
	    height: auto;
	    display: block;
	}
	
	.entete-form img {
		text-align: left;
		width: 40%;
		display: inline-block;
		vertical-align: middle;
	}

	.entete-form h2 {
		font-family: 'rawengulkregular';
		font-size: 20px;
		text-transform: uppercase;
		color: #dadada;
		display: inline-block;
		line-height: 22px;
		letter-spacing: 0.03em;
		vertical-align: middle;
		border-left: 1px solid #787178;
		padding-left: 35px;
		margin-left: 25px;
		position: relative;
		top: 1px;
	}

	#inscription, #reinitialiser {
		display: block;
		width: 90%;
		margin: 30px auto;
		padding-left: 10px;
		text-align: center;
	}
	
	#inscription p, #reinitialiser p  {
		margin: auto;
		text-align: justify;
		font-size: 13px;
		line-height: 19px;
	}

	#inscription input {
		border-radius: 5px;
	    width: 100%;
	    display: block;
	    min-width: 280px;
	    border: 1px solid #271926;
	    padding: 10px 0 10px 0;
	    margin-bottom: 15px;
	    text-indent: 50px;
	}

	#reinitialiser input {
		border-radius: 5px;
	    width: 80%;
	    display: block;
	    min-width: 280px;
	    border: 1px solid #271926;
	    padding: 15px 0;
	    margin: 35px auto 40px;
	    text-indent: 50px;
	    background: url('../images/input-mail.jpg') center left no-repeat #ffffff;
	}

	 #reinitialiser .bouton {
		text-transform: uppercase;
	    font-family: 'Roboto', sans-serif;
	    font-weight: 500;
	    font-size: 14px;
	    color: #807380;
	    padding: 18px 30px;
	    border: 2px solid #675866;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    display: block;
	    width: 50%;
	    margin:0px auto;
	    text-align: center;
	    opacity: 0.9;
	    background: transparent;
	    position: relative;
	    right: 15px;
	    cursor: pointer;
	    letter-spacing: 0.03em;
	}

	#form-inscription {
		margin: auto;
		text-align: center;
	}

	#form-inscription div {
		display: inline-block;
		width: auto;
		margin: 25px 5px 20px;
	}

	#form-inscription div:first-child {
		margin: 25px 15px 20px 0px;
	}

	#form-inscription .bouton {
		text-transform: uppercase;
	    font-family: 'Roboto', sans-serif;
	    font-weight: 500;
	    font-size: 14px;
	    color: #807380;
	    padding: 18px 30px;
	    border: 2px solid #675866;
	    border-radius: 5px;
	    -webkit-border-radius: 5px;
	    display: block;
	    width: 35%;
	    margin:0px auto;
	    text-align: center;
	    opacity: 0.9;
	    background: transparent;
	    position: relative;
	    right: 15px;
	    cursor: pointer;
	    letter-spacing: 0.03em;
	}

	.error {
		width: 90%;
	    margin-top: 20px;
	    font-size: 13px;
	    font-weight: 500;
	    color: #F31C1C;
	    text-align: center;
	    font-style: italic;
	}

	.valid {
		width: 90%;
	    margin-top: 20px;
	    font-size: 13px;
	    font-weight: 500;
	    color: #02AD11;
	    text-align: center;
	    font-style: italic;
	}


	/* RESPONSIVE */
	@media only screen and (min-width: 785px) and (max-width: 900px)  {
	 	#home section { width: 90%; }
	 	#infos a { width: 35%; }
	}

	@media only screen and (min-width: 500px) and (max-width: 785px)  {
		body { overflow: inherit; }
		#home { overflow: inherit; }
	 	#home section { width: 90%; position: relative; top: 150px; height: 100%;}
	 	section p { margin: 0px 0px 20px 5px; }
	 	#connexion .bouton { margin-top: 20px; }
	 	#infos a { width: 50%; }
	 	#infos { width: 40%;}
	 	footer { position: relative; display: none;}
	}

	@media only screen and (min-width: 470px) and (max-width: 500px)  {
		body { overflow: inherit; background-attachment: fixed; }
		.menu { left: 10%; }
		#options { right: 10%; }
		#home { overflow: inherit; }
	 	#home section { width: 90%; position: relative; top: 130px; height: 100%;}
	 	#infos { display: block; width: 85%; margin: auto; }
	 	#connexion { display: block; width: 85%; margin: auto; text-align: left; border: 0px; padding: 25px 0px 130px; border-top: 1px dotted #787178; text-align: left; top: 30px; }
	 	section p { margin: 0px 0px 20px 5px; }
	 	#connexion .bouton { margin-top: 20px; }
	 	#infos a { width: 50%; }
	 	footer { position: relative; top: 100px; }
	}

	@media only screen and (min-width: 200px) and (max-width: 470px)  {
		body { overflow: inherit; background-attachment: fixed; }
		.menu { left: 10%; }
		#options { right: 10%; }
		#home { overflow: inherit; }
	 	#home section { width: 90%; position: relative; top: 130px; height: 100%;}
	 	#infos { display: block; width: 90%; margin: auto; }
	 	#connexion { display: block; width: 90%; margin: auto; text-align: left; border: 0px; padding: 25px 0px 130px; border-top: 1px dotted #787178; text-align: left; top: 30px; }
	 	section p { margin: 0px 0px 20px 5px; }
	 	#connexion .bouton { margin-top: 20px; width: 50%; }
	 	#infos a { width: 50%; }
	 	footer { position: relative; top: 100px; }
	 	footer a { display: block; margin: 25px 0px; }
	}


