	/****************************************************
	*************** CSS JEU PAGE INTERACTIVE *************
	*****************************************************/

	html {
		min-width: 800px;
	}

	.scene-jeu .menu, .scene-jeu #options {
		opacity: 0.9;
		top: 5%;
	}

	#jeu {
			height: 100%;
			min-height: 100%;
			width: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
		}

	#jeu .dialogue {
		top: 70%;
		z-index: 3;
	}

	/* BOUTON POUR PASSER LES CINEMATIQUES */

	#passer-cinematique {
		position: absolute;
	    bottom: 20%;
	    right: 5%;
	    background-color: rgba(0, 0, 0, 0.5);
	    border: 1px solid #303030;
	    color: white;
	    text-align: center;
	    text-transform: uppercase;
	    font-family: 'Roboto', sans-serif;
	    font-size: 11px;
	    font-weight: 400;
	    padding: 15px 20px;
	    letter-spacing: 0.05em;
	    display: none;
	    z-index: 4;
	    cursor: pointer;
	}

	a#end-1973-read {
		position: absolute;
	    bottom: 4%;
	    right: 35%;
	    background-color: rgba(0, 0, 0, 0.5);
	    border: 1px solid #303030;
	    color: white;
	    text-align: center;
	    text-transform: uppercase;
	    font-family: 'Roboto', sans-serif;
	    font-size: 11px;
	    font-weight: 400;
	    padding: 15px 20px;
	    letter-spacing: 0.05em;
	    display: none;
	    z-index: 4;
	    cursor: pointer;
	}

	#end-1973 {
	    background-color: rgba(0, 0, 0, 0.5);
	    border: 1px solid #303030;
	    color: white;
	    text-align: center;
	    text-transform: uppercase;
	    font-family: 'Roboto', sans-serif;
	    font-size: 11px;
	    font-weight: 400;
	    padding: 15px 20px;
	    letter-spacing: 0.05em;
	    cursor: pointer;
	    display: block;
	}

	#form1973 {
		display: none;
	    position: absolute;
	    z-index: 15;
	    bottom: 4%;
	    right: 40%;
	}

	#passer-cinematique:hover, #end-1973-read:hover, #end-1973:hover {
		background-color: rgba(0, 0, 0, 0.8);
		-webkit-transition: all 250ms linear;
		-moz-transition: all 250ms linear;
		-ms-transition: all 250ms linear;
		-o-transition: all 250ms linear;
		transition: all 250ms linear;
	}


/* JEU - PREAMBULE CINEMATIQUE */

	#chapitre-1 {
		background: black;
		height: 100%;
		min-height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		display: block;
	}

	/* SCENE 1 PREAMBULE */

	#chap1scene1 {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
		width: 100%;
	    background-image: url('../images/bg-rue-jeu.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    display: block;
	    z-index: 3;
	    position: relative;
	}

	#chap1scene1 .diagleopold {
		display: none;
	}

	#chap1scene1 .personnage #thomaschap1scene1 {
		height: 65%;
		position: absolute;
		margin: auto;
	    top: 35%;
	    right: 0;
	    bottom: 0;
	    left: 5%;
	    width: auto;
	    animation: bougerThomas1 5s forwards;
	}

	#thomaschap1scene1phone {
		display: none;
		height: 65%;
		position: absolute;
		margin: auto;
	    top: 35%;
	    right: 0;
	    bottom: 0;
	    left: 5%;
	    width: auto;
	}

	@keyframes bougerThomas1{ 0% { height: 40%; top: 25%; left: -10%;} 100% {top: 35%; height: 65%; left: 5%; } } 
	@-webkit-keyframes bougerThomas1{ 0% { height: 45%; top: 25%; left: -5%;} 100% {top: 35%; height: 65%; left: 5%; } } 
	@-moz-keyframes bougerThomas1{ 0% { height: 45%; top: 25%; left: -5%;} 100% {top: 35%; height: 65%; left: 5%; } } 
	@-o-keyframes bougerThomas1{ 0% { height: 45%; top: 25%; left: -5%;} 100% {top: 35%; height: 65%; left: 5%; } }  

	/* SCENE 2 PREAMBULE */

	#chap1scene2 {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
		width: 100%;
	    background-image: url('../images/bg-maison-jeu.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    display: none;
	    z-index: 3;
	    position: relative;
	}

	#chap1scene2 .personnage #thomaschap1scene2 {
		height: 70%;
		position: absolute;
		margin: auto;
		left: -18%;
    	top: 32%;
	    right: 0;
	    bottom: 0;
	    width: auto;
	    animation: bougerThomas2 5s forwards;
	}

	#thomaschap1scene2phone {
		display: none;
		height: 70%;
		position: absolute;
		margin: auto;
	    top: 32%;
	    right: 0;
	    bottom: 0;
	    left: -18%;
	    width: auto;
	}

	@keyframes bougerThomas2{ 0% { height: 30%; top: 22%; left: -16%;} 100% {top: 32%; height: 70%; left: -18%; } } 
	@-webkit-keyframes bougerThomas2{ 0% { height: 30%; top: 22%; left: -16%;} 100% {top: 32%; height: 70%; left: -18%; } } 
	@-moz-keyframes bougerThomas2{ 0% { height: 30%; top: 22%; left: -16%;} 100% {top: 32%; height: 70%; left: -18%; } } 
	@-o-keyframes bougerThomas2{ 0% { height: 30%; top: 22%; left: -16%;} 100% {top: 32%; height: 70%; left: -18%; } }   

	/* SCENE 3 PREAMBULE */

	#chap1scene3 {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
		width: 100%;
	    background-image: url('../images/bg-chambre-jeu.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    display: none;
	    z-index: 3;
	    position: relative;
	}

	#chap1scene3 .personnage {
		height: 75%;
		position: absolute;
		margin: auto;
		left: 20%;
    	top: 25%;
	    right: 0;
	    bottom: 0;
	    width: auto;
	    animation: bougerThomas3 4s forwards;
	}

	@keyframes bougerThomas3{ 0% { left: -20%;} 100% {left: 20%;} } 
	@-webkit-keyframes bougerThomas3{ 0% { left: -20%;} 100% {left: 20%;} } 
	@-moz-keyframes bougerThomas3{ 0% { left: -20%;} 100% {left: 20%;} } 
	@-o-keyframes bougerThomas3{ 0% { left: -20%;} 100% {left: 20%;} } 

	/* SCENE 4 PREAMBULE */

	#chap1scene4 {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
		width: 100%;
	    background-image: url('../images/bg-maisonLeopold-jeu.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    display: none;
	    z-index: 3;
	    position: relative;
	}

	#chap1scene4 .personnage #thomaschap1scene4 {
		height: 44%;
	    position: absolute;
	    margin: auto;
	    left: -20%;
	    top: 50%;
	    right: 0;
	    bottom: 0;
	    width: auto;
	    animation: bougerThomas4 3s forwards;
	}

	#thomaschap1scene4dos {
		height: 44%;
		top: 50%;
		left: -20%;
		display: none;
		position: absolute;
	    margin: auto;
	    right: 0;
	    bottom: 0;
	    width: auto;
		animation: bougerThomas4v2 3s forwards;
	}

	@keyframes bougerThomas4{ 0% { top: 55%; } 100% {top: 50%;} } 
	@-webkit-keyframes bougerThomas4{ 0% { top: 55%; } 100% {top: 50%;} }
	@-moz-keyframes bougerThomas4{ 0% { top: 55%; } 100% {top: 50%;} } 
	@-o-keyframes bougerThomas4{ 0% { top: 55%; } 100% {top: 50%;} }

	@keyframes bougerThomas4v2 { 0% { top: 50%; height: 44%; } 100% {top: 55%; height: 38%;} } 
	@-webkit-keyframes bougerThomas4v2{ 0% { top: 50%; height: 44%; } 100% {top: 55%; height: 38%;} } 
	@-moz-keyframes bougerThomas4v2{ 0% { top: 50%; height: 44%; } 100% {top: 55%; height: 38%;} } 
	@-o-keyframes bougerThomas4v2{ 0% { top: 50%; height: 44%; } 100% {top: 55%; height: 38%;} } 


/* OBJETS EN BAS DE PAGE */

	.objets {
	    position: absolute;
	    bottom: 5%;
	    right: 5%;
	    z-index: 5;
	    width: 120px;
	    height: 100px;
	    text-align: left;
	}

	.objets .blocNote {
		position: absolute;
		left: 35px;
	}

	.objets a {
		cursor: pointer;
	}

/* BLOC NOTE */

	.bloc-note {
		background: url('../images/bloc-note-xxl.png') top center no-repeat;
		height: 90%;
		width: 100%;
		max-width: 350px;
		max-height: 485px;
		position: absolute;
		top: -200%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 7;
		margin: auto;
		text-align: left;
	}

	.bloc-note .close-note {
		background-image: url("../images/close-white.png");
	    background-repeat: no-repeat;
	    background-position: 0% 0%;
		padding: 15px;
		position: relative;
		cursor: pointer;
		right: 15px;
	}

	#notes textarea {
		position: relative;
	    left: 55px;
	    top: 50px;
	    width: 70%;
	    height: 90%;
	    max-width: 1000px;
	    font-weight: 400;
	    line-height: 20px;
	    background: transparent;
	    border: 0px;
	    line-height: 16px;
	}

	#notes textarea:focus {
		outline-style: none;
	}

	::selection { background: #d0d0d0; color: #444444; }
	::-moz-selection { background: #d0d0d0; color: #444444; }

/* BUREAU DE LEOPOLD */

	#bureau-leopold {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
		width: 100%;
	    background-image: url('../images/3d-bureau-leopold.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    z-index: 3;
	    position: relative;
	    margin: auto;
	}

	#bureau-leopold div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width:  100%;
		height: 100%;
		margin: auto;
	}

	#bureau-leopold .more {
		background: url('../images/plus.png');
		width: 54px;
		height: 51px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0;
		cursor: pointer;
		display: block;
		opacity: 0.7;
	}

	#bureau-leopold .more:hover {
		opacity: 1;
		-webkit-transition: all 300ms linear;
		-moz-transition: all 300ms linear;
		-ms-transition: all 300ms linear;
		-o-transition: all 300ms linear;
		transition: all 300ms linear;
	}

	#interactive { 
		display: none;
		z-index: 5;
	}

	#interactive .bureau { 
		top: 40%;
    	left: 20%;
	}

	#interactive .rideau { 
		top: 0%;
    	right: 88%;
	}

	#interactive .tableau { 
		bottom: 10%;
    	left: 25%;
	}

	#interactive .cadre { 
		bottom: 15%;
   		right: 30%;
	}

	#interactive .bibliotheque { 
		top: 5%;
    	right: 53%;
	}

	#interactive .travaux { 
		top: 40%;
    	left: 80%;
	}

/* BUREAU DE LEOPOLD - FOUILLE DU BUREAU */

	#zoom-objets-bureau{
		z-index: 8;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width:  100%;
		height: 100%;
		margin: auto;
		display: none;
	}

	#zoom-objets-bureau div { 
		display: none;
		z-index: 15;
	}

	#photo-cadre img {
		width: 35%;
	    margin: auto;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 23%;
	}

	#tableau {
		z-index: 8;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    height: 85%;
	    margin: auto;
	    max-height: 794px;
	    max-width: 1386px;
	    text-align: center;
	    margin: auto;
	}

	#tableau-liege {
		position: relative;
	    width:  80%;
		height: 100%;
		margin: auto;
	}

	#tableau-liege div {
		display: block;
	}

	#tableau-liege .close-tableau {
		position: absolute;
	    top: 8%;
	    left: 10%;
	    background: url("../images/close-white.png") 0% 0% no-repeat;
		padding: 15px;
		text-indent: -99999999px;
		cursor: pointer;
	}

	#tableau-liege img {
		margin: auto;
		height: 100%;
	}

	#zoom-objets-bureau #zoom-bureau {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 90%;
		min-height: 90%;
		width: 80%;
	    background-image: url('../images/zoom-bureau.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    z-index: 3;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	}

	#zoom-bureau .close-zoom {
		display: block;
		position: absolute;
	    top: 0%;
   		left: -5%;
	    background: url("../images/close-white.png") 0% 0% no-repeat;
		padding: 15px;
		text-indent: -99999999px;
		cursor: pointer;
	}


/* SCENE 1973 */

	#scene-1973 {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
		width: 100%;
	    background-image: url('../images/bureau-1970.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    z-index: 2;
	    position: relative;
	}

	#scene-1973-zoom {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
		width: 100%;
	    background-image: url('../images/zoom-alto-1973.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    z-index: 3;
	    position: relative;
	    display: none;
	}

	#scene-1973-jeu {
		display: none;
		position: absolute;
    	width: 100%;
    	height: 60%;
    	top: 10%;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	}

	.scene-flou {
		-webkit-filter: blur(10px) grayscale(100%);
        -moz-filter: blur(10px) grayscale(100%);
        -ms-filter: blur(10px) grayscale(100%);
        -o-filter: blur(10px) grayscale(100%);
        filter: blur(10px) grayscale(100%);
        -webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		transition: all 300ms ease-out;
	}

	/* FEUILLE DE PAPIER NOTES */

		#feuille {
			display: none;
		    vertical-align: top;
		    width: 22%;
		    height: 100%;
		    position: relative;
		    z-index: 5;
		    line-height: 16px;
		    font-size: 13px;
		    font-family: sans-serif;
		    text-align: center;
		    margin: auto;
		    overflow: hidden;
		    margin-left: 40px;
		}

		#feuille img {
			height: 100%;
			position: absolute;
			top: 0;
	   	 	left: 0;
	   	 	bottom: 0;
	    	right: 0;
	    	z-index: 6;
		}

		#feuille p {
			position: absolute;
		    z-index: 7;
		    text-align: left;
		    margin: auto;
		    width: 80%;
		    overflow-y: scroll;
		    height: 85%;
		    top: 10%;
		    left: 7%;
		    padding: 0px 10px;
		}

		#feuille p b {
			font-weight: bold;
		}

	/* CONSOLE DE COMMANDE */

		#shell-txt {
			position: relative;
		    top: 25%;
		    right: 5%;
		    color: white;
		    font-family: monospace;
		}

		#shell-txt .cursor {
			clear: both;
			display: inline-block;
			width: 10px;
		    height: 15px;
		    background: #aaa;
		    position: relative;
		    top: 4px;
		    animation: clignotantCursor 1s infinite;
		} 

		@keyframes clignotantCursor{ 0% { opacity: 0; } 100% { opacity: 1;  } } 
		@-webkit-keyframes clignotantCursor{ 0% { opacity: 0; } 100% { opacity: 1;  } } 
		@-moz-keyframes clignotantCursor{ 0% { opacity: 0; } 100% { opacity: 1;  } } 
		@-o-keyframes clignotantCursor{ 0% { opacity: 0; } 100% { opacity: 1;  } } 

		#console{
			margin: auto;
			width: 45%;
			height: 85%;
			padding:30px;
			background-color: black;
			font-family: monospace;
			font-size: 14px;
			font-weight: bold;
			color:#aaa;
			overflow-y: scroll;
			position: relative;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: left;
			display: inline-block;
			vertical-align: top;
			z-index: 5;
		}

		#console>div{
			font-size: 14;
			display:inline-block;
		}

		.cursor-console {
			clear: both;
			display: inline-block;
			width: 10px;
		    height: 15px;
		    background: #aaa;
		    position: relative;
		    top: 4px;
		} 

		.close-console {
			background: url("../images/close-white.png") 0% 0% no-repeat;
			padding: 15px;
			position: relative;
			cursor: pointer;
			bottom: 10px;
			right: 15px;
		}

/* SCENE 1982 */

	#scene-1982 {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
		width: 100%;
	    background-image: url('../images/bureau-1982.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    z-index: 2;
	    position: relative;
	}

/* SCENE 1995 */

	#scene-1995 {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
		width: 100%;
	    background-image: url('../images/bureau-1995.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    z-index: 2;
	    position: relative;
	}

/* SCENE 2001 */

	#scene-2001 {
		margin: auto;
		padding: 0;
		text-align: center;
		height: 100%;
		min-height: 100%;
		width: 100%;
	    background-image: url('../images/bureau-2001.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: top center;
	    z-index: 2;
	    position: relative;
	}

	/* RESPONSIVE */

	@media only screen and (min-width: 100px) and (max-width: 1100px)  {
	 	#passer-cinematique {   bottom: 45%; }
	}

	@media only screen and (min-width: 100px) and (max-width: 800px)  {
	 	body{ overflow: auto; }
	 	#jeu, #bureau-leopold { min-width: 800px; }
	 	.scene-jeu .menu, .scene-jeu #options { position: fixed; top: 6%; }
	 	.objets { position: fixed; }
	}

	@media only screen and (min-height: 100px) and (max-width: 800px)  {
	}