body{
	background-color: #d3cec8;
	margin: 0;
	font-family: arial;
	-moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}



ul{
	margin: 5px 0px;
	padding-left: 20px;
}

ul li{
	list-style: none;
	display: inline-block;
	vertical-align: top;
}


ul li ul{
	display: none;
	background-color: #c0c0c0;
	padding: 0px 3px;
	position: absolute;
	border: 1px solid #4d4d4d;
}

ul li ul.afficher{
	display: block;
}

ul li ul li{
	display: block;
	padding: 3px;
}


div.blocMenu{
	background-color: #c0c0c0;
	top:0px;
	position: fixed;
	width: 100%;
}


div.menu li, div.tools img{
	cursor: pointer;
}

div.location{
	padding-left:20px;
}


div.location input, div.location p{
	display: inline-block;
}


div.menu li{
	margin: 0 4px;
}

div.tools img{
	border-top: white 1px solid;
	border-left: white 1px solid;
	border-bottom: black 1px solid;
	border-right: black 1px solid;
	width: 50px;
}


div.location input{
	width: 80%;
	margin-left: 1%;
}

div.page{
	background-color: #d3cec8;
	margin-top: 200px;
}


div.page div{
	display: none;
}

div.page .siteAfficher{
	display: block;
}

div#index{
	text-align: center;
}

div#wikipedia{
	background-color: blue;
}

div.page>div{
	text-align: center;
}